body {
    margin: 0;
    padding: 0;
    background-color: hsl(216, 12%, 8%);
    color: white;
    font-size: 15px;
    font-family: Overpass, sans-serif;
}
/* container to center the card */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* the card of rating */
.card {
    width: 20em;
    height: 20em;
    padding: 30px;
    background-color: hsl(213, 19%, 18%);
    margin: 100px auto;
    border-radius: 25px;
}
/* icon  */
.icon {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.thanks-img {
    margin: 0 0 30px;
}
/* head */

.thanks-card h2 {
    font-weight: 400;
}
/* the content thypography*/

.content {
    color: hsl(216, 12%, 54%);
}

/* container of the nums rating */
.rating-nums {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.rating-nums div{
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: hsl(216, 12%, 54%);
}

.rating-nums div::before,
.icon::before {
    content: "";
    background-color: hsl(217, 12%, 63%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .1;
    border-radius: 50%;
}

/* hover effect on rating numbers */

.rating-nums div:hover::before,
.icon:hover::before{
    opacity: .2;
}

/* selected number  */

.selected {
    background-color: hsl(25, 97%, 53%);
    color: white !important;
    border-radius: 50%;
}

.rating-nums div:hover{
    color: white;
}

/* end of the nums rating */

/* thanks card */
.thanks-card {
    text-align: center;
}

/* head */
.head {
    color: hsl(25, 97%, 53%);
    margin: 20px 0 30px;
    font-size: 1em;
    font-weight: 400;
    position: relative;
    width: 200px;
    height: 30px;
    margin: 0 auto 30px;
}




.head::before {
    content: "";
    background-color: hsl(217, 12%, 63%);
    opacity: .1;
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 30px;
}


/* button style */

.submit-btn {
    width: 100%;
    padding: 10px 0;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: none;
    border-radius: 25px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-bottom: 20px;
}

.submit-btn:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}


/* footer */

a {
    color: hsl(25, 97%, 53%);
    font-weight: bold;
}